{{!-- <section id="search" class="search-wrap">
    <h1>Find A Coding User</h1>
    <form action="/users/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="Javascript, PHP, Rails, etc...">
      <input type="submit" value="Search">
    </form>
  </section> --}}

<section id="display" class="display-wrap">
  <h1>SPRZEDAŻ</h1>

  <section id="buttons" class="buttons-wrap">
    <form action="/users" class="button-section">
      <input type="submit" value="Tabela Główna" class="btn btn-reverse">
    </form>

    <form action="/products" class="button-section">
      <input type="submit" value="Produkty" class="btn btn-reverse">
    </form>

    <form action="/summary/display/1" class="button-section">
      <input type="submit" value="Zarobki / Wydatki" class="btn btn-reverse">
    </form>
  </section>
  {{users}}
</section>