<section id="users" class="container">
    <h1>All Users</h1>

    {{#each users}}
      <div class="user">
      <h3>{{first_name}}</h3>
      <p>{{last_name}}</p>
      <div class="tech">
        <small>Position Needed: <span>{{position}}</span></small>
      </div>
    </div>
    {{else}}
      <p>No users available</p>
    {{/each}}
    
  </section>