@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --primary-color: rgb(223, 144, 61);
  --primary-hover-color: #b16611;
  --bg-color: rgb(46, 32, 127);
  --box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.7);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: #333;
  background: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

h2 a:hover {
  color: var(--primary-hover-color);
}

.user_name {
  color: #333;
  text-decoration: none;
}

.user_name:hover {
  font-size: large;
  color: rgb(68, 47, 0);
}


.container {
  max-width: 960px;
  padding: 1rem 4rem;
  margin: auto;
  overflow: hidden;
}

.error {
  padding: 5px;
  border: #777 dotted 1px;
  margin-bottom: 15px;
}

/* Header */
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

header nav ul {
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

header.inner {
  background: var(--bg-color);
  border-bottom: 4px solid var(--primary-color);
  position: relative;
  box-shadow: var(--box-shadow);
}

/* Buttons section */
.buttons-wrap {
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.button-section {
  padding: 5px;
}

/* Buttons */
.btn {
  color: #fff;
  padding: 0.6rem;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px #140b2b;
  transition: all 0.7s;
  min-width: 15em;
  font-size: larger;
}

.btn:hover {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
}

.btn-reverse {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn-reverse:hover {
  background: var(--primary-hover-color);
  border: 1px solid var(--primary-hover-color);
}

/* Home display */
.display-wrap {
  background: url('../img/plane_big.jpg') no-repeat center center fixed;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-size: cover;
}

.display-wrap h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #fff;
  padding-top: 2em;
  margin: 0 0 1.5rem;
  text-align: center;
}

.user-wrap {
  background: #f4f4f4;
  height: 100vh;
  width: 100%;
  padding: 1.3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.display-sumtable {
  background-color: rgba(255, 228, 196, 0.911);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 8rem;
  margin: 10px 0;
}

.display-sumtable th {
  border: 1px solid rgb(173, 173, 173);
  padding: 8px;
}

.display-table {
  background-color: rgba(255, 228, 196, 0.911);
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.display-table td,
.display-table th {
  border: 1px solid rgb(173, 173, 173);
  padding: 8px;
}

.op_color {
  background-color:  rgb(255, 248, 241);
}

.display-table tr:hover {
  background-color: rgb(180, 180, 180);
}

.display-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #dd9434c7;
  font-weight: bolder;
  color: rgb(51, 51, 51);
  text-align: center;
}

td:nth-child(1),
td:nth-child(2) {
  width: 20%;
  min-width: 7rem;
}

th:nth-child(1),
th:nth-child(2) {
  width: 20%;
  min-width: 7rem;
}

th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
  width: 20%;
  min-width: 10.5rem;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(5),
td:nth-child(6),
td:nth-child(7),
td:nth-child(8) {
  width: 10%;
  min-width: 5.25rem;
}



input[type='display'] {
  flex-basis: 600px;
}

/* Form */
.form-wrap {
  margin: auto;
  background: var(--bg-color);
  color: #fff;
  padding: 1rem 3rem 3rem;
  margin-top: 3rem;
  border-bottom: 4px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.form-wrap.reg-form,
.form-wrap.login-form {
  width: 60%;
}

.form-wrap h1,
.form-wrap h2,
.form-wrap p {
  text-align: center;
}

.form-wrap .btn {
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-box {
  padding: 0.5rem;
  font-size: 18px;
  width: 100%;
  margin-bottom: 1.2rem;
}

.char-sigh {
  border-radius: 2px;
  padding: 0 5px;
  text-align: center;
  font-weight: 900;
  color: rgba(46, 32, 127, 0.76);
  background: #d48b047c;
}

.container_mtable {
  display: inline-table;
  padding: 0;
  margin: 0;
}

/* -------------------------------------------------------------------- */
/* Tablets */
@media (max-width: 800px) {
  .container {
    padding: 1rem 2rem;
  }

  header {
    flex-direction: column;
    padding: 0.3rem !important;
  }

  .user-wrap {
    align-items: baseline;
  }

  .display-wrap {
    padding: 2.3rem;
  }

  .display-wrap h1 {
    margin-left: auto;
    margin-right: auto;
    padding-top: 3em;
    font-size: 2rem;
  }

  .gig ul {
    flex-direction: column;
  }

  .gig .btn {
    display: block;
    margin-top: 1rem;
    text-align: center;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 80%;
  }
}

/* Smartphones */
@media (max-width: 500px) {
  .container {
    padding: 1rem;
  }

  header nav li {
    margin: 0 10px;
  }

  .display-wrap h1 {
    padding-top: 3em;
    font-size: 2rem;
  }

  .form-wrap {
    padding: 1rem 2rem 2rem;
  }

  .form-wrap.reg-form,
  .form-wrap.login-form {
    width: 100%;
  }
}